
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <title>{{ brand.getBrandName }}</title>
</head>
<body>
    <div class="jumbotron">
        <h1>{{ brand.getBrandName }}</h1>
        <h2><em>Add a current store to this brand.</em></h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 form">
                <h1>{{ brand.getBrandName }}</h1>

                {% if stores is not empty %}
                    <p>Here are the stores:</p>
                    <ul>
                        {% for store in stores %}
                            <li><a href="/store/{{ store.getId }}">{{ store.getStoreName }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>You currently don't have any stores! Use the form below to get started! If there are no stores available, <a href="/stores">Click here</a> to add a store.</p>
                {% endif %}
        <!-- ADD STORE TO BRAND DROPDOWN -->
                <h3>Add a store</h3>
                <form action="/brand_add_store" method="post">
                    <input id="brand_id" = name="brand_id" type="hidden" value="{{ brand.getId }}">

                    <label for="store_id">Select a store:</label>
                    <select name="store_id" type="text" required>
                            {% for store in all_stores %}
                                <option value="{{ store.getId }}">{{ store.getStoreName }}</option>
                            {% endfor %}
                    </select>

                    <button type="submit">Add Store</button>

                </form>
            </div>
            <div class="col-sm-6 form">
                <h2><a href="/">Home</a></h2>
                <h2><a href="/brands">Brands</a></h2>
                <h2><a href="/stores">Stores</a></h2>
            </div>
        </div>
    </div>
    <div class="navbar navbar-fixed-bottom" role="navigation">
        <div class="container">
            <div class="navbar-text pull-left">
                <p>© 2016 Josh Overly.</p>
            </div>
        </div>
    </div>
</body>
</html>
